body {
   background-color: gray;
   font-family: "Arial", Sans-serif;
   margin: auto;
}

h1 {
   font-family: "Verdana", Sans-serif;
   text-align: center;
}

h2 {
   font-family: "Verdana", Sans-serif;
   text-align: center;
}

p {
   text-align: center;
}

ol, ul {
    margin: 20px 0 40px 450px;
}

img {
   margin: 20px 0 20px 600px;
}


